* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 100%;
    background-image: url(../img/persona5pattern.jpg);
    background-repeat: repeat;
    background-size: contain;
}

h1 {
    font-size: 72px;
    padding: 10px;
}

body > div {
    max-width: 1200px;
    margin: 100px auto;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    flex-basis: 10%;
    margin: 8px;
    height: 100px;
    border-radius: 3px;
    border: white 2px solid;

    background-image: url(../img/avatar1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tre {
    background-image: url(../img/avatar2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cinque {
    background-image: url(../img/avatar3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cinque.tre {
    background-image: url(../img/avatar4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}